def upgrade() -> None:
    """Upgrade schema."""
    op.create_table(
        "users",
        sa.Column("id", sa.Integer, index=True, primary_key=True),
        sa.Column("email", sa.String),
        sa.Column("role", sa.String),
        sa.Column("name", sa.String, nullable=True),
        sa.Column("surname", sa.String, nullable=True),
        sa.Column("password", sa.String),
        sa.Column("is_active", sa.Boolean, default=False),
        sa.Column("created_at", sa.DateTime(timezone=True)),
        sa.Column("updated_at", sa.DateTime(timezone=True))
    )
    pass